.report-head {
    margin: 20px;
}

.report-head h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.table-head {
    width: 1000px;
}

.table-head2 {
    width: 900px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--input-background-dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        inset 2px 2px 4px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0px;
    color: var(--white);
}

td,
th {

    text-align: center !important;
    padding: 20px;
    margin: 40px 20px;



}

th {
    font-size: 1rem;
    font-weight: 500;
}

td {
    font-size: 0.9rem;
    font-weight: 400;
}


.table-headline {
    display: flex;
    position: relative;
    margin: 25px 0px;

}

.table-headline h4 {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: underline;
    position: absolute;
    left: 23px;
    width: 300px;
}

.table-headline img {
    position: absolute;
    left: 735px;
    top: -10px;
    cursor: pointer;
}

.status-icon {
    margin: 0px 7px;
    cursor: pointer;
}

.notication-card-head {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
}

.notify-card {
    width: 95%;
    height: 90px;
    border-radius: 10px;
    background-color: var(--input-background-dark);
    box-shadow: var(--input-box-shadow);
    color: var(--white);
    display: flex;
    gap: 30px;
    align-items: center;
}

.left-border {
    width: 10px;
    height: 90px;
    /* background-color: #007BC2; */
    border-radius: 20px;
}

.logo-notify {
    /* color: #007BC2; */
    font-size: 2.2rem;
}

.notify-content h2 {
    font-weight: 400;
    font-size: 1.1rem;
}

.notify-content h3 {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 7px 0px;
}

.alert {
    color: #007BC2;

}

.alert-border {
    background-color: #007BC2
}

.warning {

    color: #F0A92E;

}

.warning-border {


    background-color: #F0A92E;
}

.Incorrect {
    color: rgb(210, 77, 77);

}

.Incorrect-border {
    background-color: rgb(202, 74, 74);

}

.success {
    color: #21A67A;

}

.success-border {
    background-color: #21A67A;
}